@use '../global/mixins' as m;
@use '../global/variables' as v;


.social {
    $root: '.social';

    @include m.reset-list;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    &__link {
        position: relative;
        display: block;
        color: var(--interactive-element-color);
        text-decoration: none;
        transition: color v.$transistion;

        &::before {
            content: '';
            position: absolute;
            width: 40px;
            height: 40px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:hover {
            color: var(--interactive-element-hover-color);
        }

        &:focus-visible {
            outline: none;
            color: var(--interactive-element-focus-color);
        }

        &:active {
            color: var(--interactive-element-active-color);
        }
    }

    &--sidebar {
        @media (orientation: landscape) and (pointer: coarse) {
            gap: 15px;

            #{$root}__link {
                &::before {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

    &--with-signature {
        align-items: start;

        #{$root}__link {
            display: flex;
            align-items: center;
            gap: 12px;

            &::before {
                display: none;
            }
        }
    }
}